<form action="/articles" method="POST">
    Title:
    <input id="title" type="text" name="title">
    Content:
    <input id="content" type="text" name="content">
    <input type="submit" value="Submit">
</form>
