<%= @article.title %>

<%= @article.content %>



<form action="/articles/<%= @article.id %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="delete">
</form>